fastapi
uvicorn[standard]
motor
beanie
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
opencv-python-headless
cloudinary
httpx
reportlab
pillow
python-dotenv
google-genai
certifi
